 :root {
  --primary: #6b35e8 !important;
  --primary-hover: #3f13a4 !important;
  --black: #050505;
  --gray: #595959;
  --white: #fafafa;
  --success: #7BAE7F;
  --danger: #FF4B4B;
  --warning: #F8BF63;

  .btn-custom-primary {
    background-color: var(--primary);
    border-color: var(--primary);
    color: var(--white);
  }

  .btn-custom-primary:hover {
    background-color: var(--primary-hover);
    border-color: var(--primary-hover);
  }
}

 /* :root {
  --primary: #eb5e28;
  --primary-hover: #252422;
  --black: #403d39;
  --gray: #ccc5b9;
  --white: #fffcf2;
  --success: #7BAE7F;
  --danger: #FF4B4B;
  --warning: #F8BF63;
} */

/*
:root {
  --primary: #FF9505;
  --primary-hover: #EC4E20;
  --black: #000000;
  --gray: #353531;
  --white: #ffffff;
  --success: #7BAE7F;
  --danger: #FF4B4B;
  --warning: #F8BF63;
} */

